################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/project4git/.vs/project4git/FileContentIndex/06c5e320-604e-4581-8dda-922d3552e767.vsidx
/project4git/.vs/project4git/FileContentIndex/3c19f5b2-0593-40d8-b63a-8b3d3e698edd.vsidx
